* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 602px;
  height: 450px;
  border-radius: 25px;
  box-shadow: 10px 20px 30px hsl(221, 100%, 96%);
  margin: 0 0 100px 0;
}

.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  color: hsl(0, 0%, 100%);
  width: 300px;
  height: 450px;
  border-radius: 25px;
}

.circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: auto;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.summary {
  width: 300px;
  height: 450px;
  border-radius: 25px;
  padding: 30px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.1); 
}

.reaction, .memory, .verbal, .visual {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 50px;
  margin: 15px 0px;
  justify-content: space-between;
}

button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  width: 240px;
  height: 50px;
  margin: 15px 0px;
  border: none;
  border-radius: 25px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }